<h1>Welcome</h1>
    
<nav class="navbar navbar-expand-lg navbar-light bg-primary">
  <a class="navbar-brand" href="#">My Application</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
          <a class="nav-link" [routerLink] = "['home']">Home <span class="sr-only"></span></a>
        </li>
      
      <li class="nav-item active">
        <a class="nav-link" [routerLink] = "['employees']">Employee <span class="sr-only"></span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" >Attendance</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" >Leave</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink] = "['/projects']" >Project</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink] = "['/changepassword']">Change Password</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink] = "['']"  (click)="logout()">Logout</a>
        </li>
    </ul>
  </div>
</nav>
<router-outlet></router-outlet>
