<!-- <div >
    <a [routerLink] = "['employees']" class="link-success">
        <span style="padding-left:10px" class="glyphicon glyphicon-envelope"></span>Employees</a>
    <a [routerLink] = "['']" class="link-success">
        <span style="padding-left:10px" class="glyphicon glyphicon-envelope"></span>Attendance</a>
    <a [routerLink] = "['']" class="link-success">
            <span style="padding-left:10px" class="glyphicon glyphicon-envelope"></span>Leave</a>
    <a  [routerLink] = "['']" class="link-danger" >
            <span style="padding-left:10px" class="glyphicon glyphicon-envelope" ></span>Logout</a>
        </div> -->

 
  <div class="container">
    <div class="row card-group">
        <div class="col-4" *ngFor="let e of empList">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Id: {{e.id}}</h5>
                    <h5 class="card-title">Name: {{e.name}}</h5>
                    <h5 class="card-title">Date Of Birth: {{e.dateOfBirth}}</h5>
                    <h5 class="card-title">Email Id: {{e.email}}</h5>
                    <h5 class="card-title">Mobile No: {{e.mobileNo}}</h5>
                    <h5 class="card-title">Project Id: {{e.projectId}}</h5>
                    <h5 class="card-title">Designation: {{designation[e.designation]}}</h5>
                    
                </div>
                
            </div>
        </div>
    </div>
    <router-outlet></router-outlet>
  </div>